﻿@model IEnumerable<OddeStodds.Service.Models.Odd>

@{
    ViewBag.Title = "Index";
}

<h2>Odds List</h2>

<table class="table" id="TableOdds">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrawValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LossValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>

</table>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/Custom/timer.js"></script>
}
<span id="newTime"></span>