﻿@model OddeStodds.Service.Models.OddsHandler

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <div>@Html.Label("Login Name")</div>
    <div>@Html.TextBoxFor(x=>x.Username)</div>
    <div>@Html.Label("Password")</div>
    <div>@Html.PasswordFor(x=>x.Password)</div>
    <input type="submit" value="Login" />
}

@if (ViewData["Failed"] != null)
{
    <div id="FailedMessage" style="color:red;position:relative;top:20px;">
        @ViewData["Failed"]
    </div>
}
