﻿@model OddeStodds.Service.Models.Odd

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Odd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LossValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LossValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
