﻿@model IEnumerable<OddeStodds.Service.Models.Odd>


@{
    ViewBag.Title = "BackOffice";
}

<h2>Odds List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LossValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrawValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LossValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
    <tr>
        <td>
            <input type="button" id="btnPublish" value="Publish" onclick="location.href='@Url.Action("Publish", "BackOffice")'" />
        </td>
    </tr>
</table>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/Custom/timer.js"></script>
}

<span id="message"></span>
